myvenv
db.sqlite3
.vscode
__pycache__
*.pyc
.DS_Store
.env
ngrok.exe
node_modules
media
.idea/*
wdb_/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
